/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/.idea
/.gitattributes
app/config_sandbox
app/etc/config.php
app/etc/env.php
app/code/Magento/TestModule*
node_modules
/.grunt
/Gruntfile.js
/.php_cs
/.php_cs.cache
/grunt-config.json
lib
pub
var
vendor
generated
.DS_Store
auth.json
